/*
* Boostrap Class: 
* - Desktop (>= 992px) ... col-lg-
* - Desktop E Tablet (768px a 991px) ... col-md-
* - Tablet (576px a 767px) ... col-sm-
* - Tablets Celular (0px a 767px) ... col (demais tamanhos)
*
* Lembrando que col-...-12 significa a tela inteira no Boostrap
*/

/* Desktop */
@media (min-width: 992), (max-width: 1200px) {
    .col-one {
        padding-left: 35px !important;
        padding-right: 35px !important;
    }

    .no-sm-desktop {
        display: none;
    }

    /* Header ---------------------------------------------------- */
    .navbar .nav-link {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    .navbar .btn-icon {
        padding-right: 20px;
    }

    .navbar .btn-icon span.icon {
        display: none !important;
    }

    /* Banner ---------------------------------------------------- */
    .banner {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .card-banner {
        height: 350px;
        width: 350px;

        border-radius: 135px;
        top: -50px;
    }

    .img-banner img {
        width: 470px;

        top: 60px;
    }

    .card-case {
        bottom: 150px;
        right: 45px;
    }

    .btn-social {
        margin-top: 0px !important;
    }

    /* Service ---------------------------------------------------- */
    .service {
        padding-bottom: 50px;
    }

    /* Menu ---------------------------------------------------- */
    .menu {
        padding-bottom: 50px;
    }

    .container-menu {
        /* Barra de rolagem */
        overflow-x: auto;
        overflow-y: hidden;

        display: flex;

        padding-bottom: 15px;
    }

    .card-item {
        height: 300px;
    }

    /* Depositions e Reserve ---------------------------------------------------- */
    .depositions,
    .reserve {
        padding-bottom: 50px;
    }

    .depositions .img-banner img {
        width: 370px;
        left: -10px;
    }
}

/* Desktop e Tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .no-mobile {
        display: none;
    }

    /* Header ---------------------------------------------------- */
    .navbar-toggler-icon {
        padding-top: 5px;
    }

    .navbar-collapse {
        background-color: var(--color-secondary);
        
        padding: 20px;

        text-align: center;

        border-radius: 40px;
    }

    .navbar-collapse .btn-white {
        margin-top: 20px;
    }

    .navbar-collapse .btn-icon {
        padding-right: 20px;
    }

    .navbar-collapse .btn-icon span.icon {
        display: none;
    }

    /* Depositions e Reserve ---------------------------------------------------- */
    .card-secondary {
        padding: 45px;
        
        border-radius: 50px;
    }
    
    /* Footer ---------------------------------------------------- */
    .container-texto-footer p {
        text-align: center;
    }
}

/* Tablets */
@media (min-width: 576px) and (max-width: 767px) {
    
}

/* Tablets e Celulares */
@media (max-width: 767px) {
    .no-mobile {
        display: none;
    }

    /* Banner ---------------------------------------------------- */
    .text-banner h1 {
        font-size: 36px;
    }

    .text-banner p {
        font-size: 18px;
    }

    .btn-yellow, .btn-white {
        padding: 13px 23px;
        font-size: 18px;
    }

    .btn-icon-left span.icon-left {
        width: 43px;
        height: 43px;
        margin-left: -56px;
    }

    .btn-icon-left {
        padding-left: 63px !important;
    }

    .title {
        font-size: 30px;
    }
    
    /* Menu ---------------------------------------------------- */
    .img-produto {
        position: absolute;
        left: 15px;
    }

    .card-item {
        height: 110px;

        padding-left: 110px;

        justify-content: center;
        align-items: start;
    }

    .card-item .img-produto img {
        width: 80px;
    }

    .title-produto {
        margin-top: 0px !important;

        height: 30px !important;
        width: 100%;

        text-align: left !important;
    }

    .price-produto {
        margin-bottom: 0px !important;
        margin-top: 0px !important;

        font-size: 22px !important;
    }

    .card-item .add-carrinho {
        margin-top: 5px;
    }

    #itensMenu .mb-5 {
        margin-bottom: 15px !important;
    }

    /* Depositions e Reserve */
    .card-secondary {
        padding: 45px;

        border-radius: 50px;
    }

    /* Footer ---------------------------------------------------- */
    .container-logo-footer, 
    .container-redes-footer {
        justify-content: center;
    }

    .container-redes-footer {
        margin-top: 40px;
        margin-bottom: 50px;
    }

    /* Modal ---------------------------------------------------- */
    .modal-full {
        padding: 40px;
    }

    .modal-full .item-carrinho {
        padding-left: 0px;
        padding-right: 0px;
    }

    .modal-full .img-produto {
        position: relative;
        left: 0;
    }

    .modal-full .img-produto img {
        width: 50px;
    }

    .modal-full .dados-produto {
        padding-left: 15px;
        padding-right: 15px;

        display: grid;
    }

    .modal-full .title-produto,
    .modal-full .price-produto {
        font-size: 16px !important;
    }

    .modal-full .add-numero-itens {
        padding: 2px 10px;
    }

    .modal-full .form-control {
        font-size: 16px;
    }
}